flows.json
[
  {
    "id": "tab_sistema_comercial",
    "type": "tab",
    "label": "SISTEMA COMERCIAL CAPACETE",
    "disabled": false,
    "info": "Dashboard comercial: um único template profissional com histórico real."
  },
  {
    "id": "mqtt_in_sistema_comercial",
    "type": "mqtt in",
    "z": "tab_sistema_comercial",
    "name": "Receber MQTT capacete/status",
    "topic": "capacete/status",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_sistema_comercial",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 160,
    "wires": [
      [
        "func_processar_sistema_comercial"
      ]
    ]
  },
  {
    "id": "func_processar_sistema_comercial",
    "type": "function",
    "z": "tab_sistema_comercial",
    "name": "Processar tempo real",
    "func": "\nlet estado = String(msg.payload).trim();\nlet agora = new Date();\n\nlet funcionario = \"Débora da Silva Costa\";\nlet epi = \"Capacete 01\";\n\n// PADRÃO DO SEU PROJETO ATUAL:\n// DETECTOU = capacete na cabeça = ATIVO\n// LIVRE = capacete fora da cabeça = INATIVO\n// Se ficar invertido, troque DETECTOU por LIVRE na linha abaixo.\nlet statusAtual = estado === \"LIVRE\" ? \"ATIVO\" : \"INATIVO\";\n\nlet ultimoEstado = flow.get(\"ultimoEstadoSensor\");\nlet ultimoTempo = flow.get(\"ultimoTempoSensor\") || Date.now();\n\nif (ultimoEstado === undefined) {\n    flow.set(\"ultimoEstadoSensor\", estado);\n    flow.set(\"ultimoTempoSensor\", Date.now());\n\n    let inicial = criarRegistro(statusAtual, agora, agora, 0, \"Estado inicial: \" + statusAtual);\n    msg.payload = montarPainel(inicial);\n    return [msg, null];\n}\n\nif (estado !== ultimoEstado) {\n    let inicio = new Date(ultimoTempo);\n    let fim = agora;\n    let tempoSegundos = Math.floor((fim - inicio) / 1000);\n\n    let statusAnterior = ultimoEstado === \"LIVRE\" ? \"ATIVO\" : \"INATIVO\";\n    let registro = criarRegistro(statusAnterior, inicio, fim, tempoSegundos, \"\");\n\n    let historico = flow.get(\"historicoCapacete\") || [];\n    historico.unshift(registro);\n    if (historico.length > 500) historico = historico.slice(0, 500);\n    flow.set(\"historicoCapacete\", historico);\n\n    flow.set(\"ultimoEstadoSensor\", estado);\n    flow.set(\"ultimoTempoSensor\", Date.now());\n\n    msg.payload = montarPainel(registro);\n\n    let linhaCSV =\n        registro.funcionario + \";\" +\n        registro.epi + \";\" +\n        registro.data + \";\" +\n        registro.horaInicio + \";\" +\n        registro.horaFim + \";\" +\n        registro.status + \";\" +\n        registro.tempoSegundos + \";\" +\n        registro.tempo + \";\" +\n        registro.descricao;\n\n    return [msg, {payload: linhaCSV}];\n}\n\nlet atual = criarRegistro(statusAtual, agora, agora, 0, \"Sem mudança de estado\");\nmsg.payload = montarPainel(atual);\nreturn [msg, null];\n\nfunction criarRegistro(status, inicio, fim, segundos, descricaoCustom) {\n    let min = Math.floor(segundos / 60);\n    let seg = segundos % 60;\n    let tempo = min + \" min \" + seg + \" seg\";\n    let descricao = descricaoCustom || (\"Ficou \" + status + \" por \" + tempo);\n\n    return {\n        funcionario: funcionario,\n        epi: epi,\n        data: fim.toLocaleDateString(\"pt-BR\"),\n        horaInicio: inicio.toLocaleTimeString(\"pt-BR\"),\n        horaFim: fim.toLocaleTimeString(\"pt-BR\"),\n        status: status,\n        tempoSegundos: segundos,\n        tempo: tempo,\n        descricao: descricao,\n        valor: status === \"ATIVO\" ? 1 : 0,\n        alarme: status === \"INATIVO\" ? \"⚠ SEM CAPACETE\" : \"✅ CAPACETE EM USO\"\n    };\n}\n\nfunction montarPainel(ultimo) {\n    let historico = flow.get(\"historicoCapacete\") || [];\n    return {\n        ultimo: ultimo,\n        resumo: resumo(historico),\n        historico: historico\n    };\n}\n\nfunction resumo(h) {\n    let ativo = 0;\n    let inativo = 0;\n    let alertas = 0;\n\n    for (let r of h) {\n        let t = Number(r.tempoSegundos || 0);\n        if (r.status === \"ATIVO\") ativo += t;\n        if (r.status === \"INATIVO\") {\n            inativo += t;\n            alertas++;\n        }\n    }\n\n    let total = ativo + inativo;\n    let conformidade = total > 0 ? Math.round((ativo / total) * 100) : 0;\n\n    return {\n        tempoAtivo: formatar(ativo),\n        tempoInativo: formatar(inativo),\n        conformidade: conformidade,\n        totalEventos: h.length,\n        totalAlertas: alertas\n    };\n}\n\nfunction formatar(s) {\n    let h = Math.floor(s / 3600);\n    let m = Math.floor((s % 3600) / 60);\n    let sec = s % 60;\n    if (h > 0) return h + \"h \" + m + \"min\";\n    return m + \" min \" + sec + \" seg\";\n}\n",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 160,
    "wires": [
      [
        "ui_template_sistema_comercial",
        "debug_sistema_comercial"
      ],
      [
        "file_save_sistema_comercial"
      ]
    ]
  },
  {
    "id": "inject_load_sistema_comercial",
    "type": "inject",
    "z": "tab_sistema_comercial",
    "name": "Carregar histórico real do arquivo",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 260,
    "wires": [
      [
        "func_load_sistema_comercial"
      ]
    ]
  },
  {
    "id": "func_load_sistema_comercial",
    "type": "function",
    "z": "tab_sistema_comercial",
    "name": "Carregar histórico real",
    "func": "\nlet historico = [{\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"19:42:51\", \"horaFim\": \"19:42:52\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"19:42:47\", \"horaFim\": \"19:42:51\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"19:42:39\", \"horaFim\": \"19:42:47\", \"status\": \"INATIVO\", \"tempoSegundos\": 8, \"tempo\": \"0 min 8 seg\", \"descricao\": \"Ficou INATIVO por 0 min 8 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"19:26:08\", \"horaFim\": \"19:26:10\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:16:17\", \"horaFim\": \"19:26:08\", \"status\": \"ATIVO\", \"tempoSegundos\": 4190, \"tempo\": \"69 min 50 seg\", \"descricao\": \"Ficou ATIVO por 69 min 50 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:16:15\", \"horaFim\": \"18:16:17\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:49\", \"horaFim\": \"18:16:15\", \"status\": \"ATIVO\", \"tempoSegundos\": 506, \"tempo\": \"8 min 26 seg\", \"descricao\": \"Ficou ATIVO por 8 min 26 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:47\", \"horaFim\": \"18:07:49\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:40\", \"horaFim\": \"18:07:47\", \"status\": \"ATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou ATIVO por 0 min 7 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:34\", \"horaFim\": \"18:07:40\", \"status\": \"INATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou INATIVO por 0 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:31\", \"horaFim\": \"18:07:34\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:29\", \"horaFim\": \"18:07:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:28\", \"horaFim\": \"18:07:29\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:27\", \"horaFim\": \"18:07:28\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:01\", \"horaFim\": \"18:07:27\", \"status\": \"ATIVO\", \"tempoSegundos\": 26, \"tempo\": \"0 min 26 seg\", \"descricao\": \"Ficou ATIVO por 0 min 26 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:07:00\", \"horaFim\": \"18:07:01\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:58\", \"horaFim\": \"18:07:00\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:55\", \"horaFim\": \"18:06:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:53\", \"horaFim\": \"18:06:55\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:45\", \"horaFim\": \"18:06:53\", \"status\": \"INATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou INATIVO por 0 min 7 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:41\", \"horaFim\": \"18:06:45\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:40\", \"horaFim\": \"18:06:41\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:37\", \"horaFim\": \"18:06:40\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:35\", \"horaFim\": \"18:06:37\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:23\", \"horaFim\": \"18:06:35\", \"status\": \"ATIVO\", \"tempoSegundos\": 12, \"tempo\": \"0 min 12 seg\", \"descricao\": \"Ficou ATIVO por 0 min 12 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:20\", \"horaFim\": \"18:06:23\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:17\", \"horaFim\": \"18:06:20\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:16\", \"horaFim\": \"18:06:17\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:15\", \"horaFim\": \"18:06:16\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:14\", \"horaFim\": \"18:06:15\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:09\", \"horaFim\": \"18:06:14\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:07\", \"horaFim\": \"18:06:09\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:04\", \"horaFim\": \"18:06:07\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:06:03\", \"horaFim\": \"18:06:04\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:59\", \"horaFim\": \"18:06:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:58\", \"horaFim\": \"18:05:59\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:56\", \"horaFim\": \"18:05:58\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:55\", \"horaFim\": \"18:05:56\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:41\", \"horaFim\": \"18:05:55\", \"status\": \"ATIVO\", \"tempoSegundos\": 14, \"tempo\": \"0 min 14 seg\", \"descricao\": \"Ficou ATIVO por 0 min 14 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:36\", \"horaFim\": \"18:05:41\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:10\", \"horaFim\": \"18:05:36\", \"status\": \"ATIVO\", \"tempoSegundos\": 26, \"tempo\": \"0 min 26 seg\", \"descricao\": \"Ficou ATIVO por 0 min 26 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:09\", \"horaFim\": \"18:05:10\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:06\", \"horaFim\": \"18:05:09\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:04\", \"horaFim\": \"18:05:06\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:05:01\", \"horaFim\": \"18:05:04\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:04:59\", \"horaFim\": \"18:05:01\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:04:58\", \"horaFim\": \"18:04:59\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:04:53\", \"horaFim\": \"18:04:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:03:43\", \"horaFim\": \"18:04:53\", \"status\": \"ATIVO\", \"tempoSegundos\": 70, \"tempo\": \"1 min 10 seg\", \"descricao\": \"Ficou ATIVO por 1 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:03:42\", \"horaFim\": \"18:03:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:03:40\", \"horaFim\": \"18:03:42\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:03:37\", \"horaFim\": \"18:03:40\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:02:33\", \"horaFim\": \"18:03:37\", \"status\": \"ATIVO\", \"tempoSegundos\": 64, \"tempo\": \"1 min 4 seg\", \"descricao\": \"Ficou ATIVO por 1 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"18:02:32\", \"horaFim\": \"18:02:33\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:58:09\", \"horaFim\": \"17:58:12\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:57:12\", \"horaFim\": \"17:58:09\", \"status\": \"INATIVO\", \"tempoSegundos\": 57, \"tempo\": \"0 min 57 seg\", \"descricao\": \"Ficou INATIVO por 0 min 57 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:57:05\", \"horaFim\": \"17:57:12\", \"status\": \"ATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou ATIVO por 0 min 7 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:55:09\", \"horaFim\": \"17:57:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 116, \"tempo\": \"1 min 56 seg\", \"descricao\": \"Ficou INATIVO por 1 min 56 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:55:05\", \"horaFim\": \"17:55:09\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:55:03\", \"horaFim\": \"17:55:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:55:00\", \"horaFim\": \"17:55:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:54:12\", \"horaFim\": \"17:55:00\", \"status\": \"INATIVO\", \"tempoSegundos\": 48, \"tempo\": \"0 min 48 seg\", \"descricao\": \"Ficou INATIVO por 0 min 48 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:54:11\", \"horaFim\": \"17:54:12\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:53:58\", \"horaFim\": \"17:54:11\", \"status\": \"INATIVO\", \"tempoSegundos\": 13, \"tempo\": \"0 min 13 seg\", \"descricao\": \"Ficou INATIVO por 0 min 13 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:53:51\", \"horaFim\": \"17:53:58\", \"status\": \"ATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou ATIVO por 0 min 7 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:53:25\", \"horaFim\": \"17:53:51\", \"status\": \"INATIVO\", \"tempoSegundos\": 25, \"tempo\": \"0 min 25 seg\", \"descricao\": \"Ficou INATIVO por 0 min 25 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:53:24\", \"horaFim\": \"17:53:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:59\", \"horaFim\": \"17:53:24\", \"status\": \"INATIVO\", \"tempoSegundos\": 25, \"tempo\": \"0 min 25 seg\", \"descricao\": \"Ficou INATIVO por 0 min 25 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:58\", \"horaFim\": \"17:52:59\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:53\", \"horaFim\": \"17:52:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:52\", \"horaFim\": \"17:52:53\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:47\", \"horaFim\": \"17:52:52\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:46\", \"horaFim\": \"17:52:47\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:41\", \"horaFim\": \"17:52:46\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:40\", \"horaFim\": \"17:52:41\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:34\", \"horaFim\": \"17:52:40\", \"status\": \"INATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou INATIVO por 0 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:52:30\", \"horaFim\": \"17:52:34\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:51:01\", \"horaFim\": \"17:52:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 89, \"tempo\": \"1 min 29 seg\", \"descricao\": \"Ficou INATIVO por 1 min 29 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:50:58\", \"horaFim\": \"17:51:01\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:50:38\", \"horaFim\": \"17:50:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 20, \"tempo\": \"0 min 20 seg\", \"descricao\": \"Ficou INATIVO por 0 min 20 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:50:32\", \"horaFim\": \"17:50:38\", \"status\": \"ATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou ATIVO por 0 min 6 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:50:27\", \"horaFim\": \"17:50:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:50:22\", \"horaFim\": \"17:50:27\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:44:33\", \"horaFim\": \"17:50:22\", \"status\": \"INATIVO\", \"tempoSegundos\": 348, \"tempo\": \"5 min 48 seg\", \"descricao\": \"Ficou INATIVO por 5 min 48 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:44:32\", \"horaFim\": \"17:44:33\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:44:21\", \"horaFim\": \"17:44:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 11, \"tempo\": \"0 min 11 seg\", \"descricao\": \"Ficou INATIVO por 0 min 11 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:44:18\", \"horaFim\": \"17:44:21\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:42\", \"horaFim\": \"17:44:18\", \"status\": \"INATIVO\", \"tempoSegundos\": 156, \"tempo\": \"2 min 36 seg\", \"descricao\": \"Ficou INATIVO por 2 min 36 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:41\", \"horaFim\": \"17:41:42\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:40\", \"horaFim\": \"17:41:41\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:39\", \"horaFim\": \"17:41:40\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:37\", \"horaFim\": \"17:41:39\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:36\", \"horaFim\": \"17:41:37\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:29\", \"horaFim\": \"17:41:36\", \"status\": \"INATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou INATIVO por 0 min 7 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:28\", \"horaFim\": \"17:41:29\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:27\", \"horaFim\": \"17:41:28\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:26\", \"horaFim\": \"17:41:27\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:25\", \"horaFim\": \"17:41:26\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:21\", \"horaFim\": \"17:41:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:02\", \"horaFim\": \"17:41:21\", \"status\": \"INATIVO\", \"tempoSegundos\": 19, \"tempo\": \"0 min 19 seg\", \"descricao\": \"Ficou INATIVO por 0 min 19 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:41:01\", \"horaFim\": \"17:41:02\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:56\", \"horaFim\": \"17:41:01\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:54\", \"horaFim\": \"17:40:56\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:39\", \"horaFim\": \"17:40:54\", \"status\": \"INATIVO\", \"tempoSegundos\": 15, \"tempo\": \"0 min 15 seg\", \"descricao\": \"Ficou INATIVO por 0 min 15 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:35\", \"horaFim\": \"17:40:39\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:34\", \"horaFim\": \"17:40:35\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:31\", \"horaFim\": \"17:40:34\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:29\", \"horaFim\": \"17:40:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:40:28\", \"horaFim\": \"17:40:29\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:37:25\", \"horaFim\": \"17:40:28\", \"status\": \"INATIVO\", \"tempoSegundos\": 183, \"tempo\": \"3 min 3 seg\", \"descricao\": \"Ficou INATIVO por 3 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:37:24\", \"horaFim\": \"17:37:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:37:16\", \"horaFim\": \"17:37:24\", \"status\": \"INATIVO\", \"tempoSegundos\": 8, \"tempo\": \"0 min 8 seg\", \"descricao\": \"Ficou INATIVO por 0 min 8 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:37:15\", \"horaFim\": \"17:37:16\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:54\", \"horaFim\": \"17:37:15\", \"status\": \"INATIVO\", \"tempoSegundos\": 21, \"tempo\": \"0 min 21 seg\", \"descricao\": \"Ficou INATIVO por 0 min 21 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:52\", \"horaFim\": \"17:36:54\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:50\", \"horaFim\": \"17:36:52\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:48\", \"horaFim\": \"17:36:50\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:46\", \"horaFim\": \"17:36:48\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:43\", \"horaFim\": \"17:36:46\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:40\", \"horaFim\": \"17:36:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:36:39\", \"horaFim\": \"17:36:40\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:34:06\", \"horaFim\": \"17:36:39\", \"status\": \"INATIVO\", \"tempoSegundos\": 153, \"tempo\": \"2 min 33 seg\", \"descricao\": \"Ficou INATIVO por 2 min 33 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:34:05\", \"horaFim\": \"17:34:06\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:34:03\", \"horaFim\": \"17:34:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:34:02\", \"horaFim\": \"17:34:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:13\", \"horaFim\": \"17:34:02\", \"status\": \"INATIVO\", \"tempoSegundos\": 109, \"tempo\": \"1 min 49 seg\", \"descricao\": \"Ficou INATIVO por 1 min 49 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:11\", \"horaFim\": \"17:32:13\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:08\", \"horaFim\": \"17:32:11\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:07\", \"horaFim\": \"17:32:08\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:06\", \"horaFim\": \"17:32:07\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:32:05\", \"horaFim\": \"17:32:06\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:11\", \"horaFim\": \"17:32:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 114, \"tempo\": \"1 min 54 seg\", \"descricao\": \"Ficou INATIVO por 1 min 54 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:10\", \"horaFim\": \"17:30:11\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:08\", \"horaFim\": \"17:30:10\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:07\", \"horaFim\": \"17:30:08\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:06\", \"horaFim\": \"17:30:07\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:30:05\", \"horaFim\": \"17:30:06\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:55\", \"horaFim\": \"17:30:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 130, \"tempo\": \"2 min 10 seg\", \"descricao\": \"Ficou INATIVO por 2 min 10 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:53\", \"horaFim\": \"17:27:55\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:52\", \"horaFim\": \"17:27:53\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:50\", \"horaFim\": \"17:27:52\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:49\", \"horaFim\": \"17:27:50\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:27:48\", \"horaFim\": \"17:27:49\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:22:08\", \"horaFim\": \"17:22:14\", \"status\": \"ATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou ATIVO por 0 min 6 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:21:22\", \"horaFim\": \"17:22:08\", \"status\": \"INATIVO\", \"tempoSegundos\": 45, \"tempo\": \"0 min 45 seg\", \"descricao\": \"Ficou INATIVO por 0 min 45 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:21:21\", \"horaFim\": \"17:21:22\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:16:17\", \"horaFim\": \"17:16:23\", \"status\": \"ATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou ATIVO por 0 min 6 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:16:11\", \"horaFim\": \"17:16:17\", \"status\": \"INATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou INATIVO por 0 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:08:52\", \"horaFim\": \"17:16:11\", \"status\": \"ATIVO\", \"tempoSegundos\": 439, \"tempo\": \"7 min 19 seg\", \"descricao\": \"Ficou ATIVO por 7 min 19 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:08:46\", \"horaFim\": \"17:08:52\", \"status\": \"INATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou INATIVO por 0 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:08:45\", \"horaFim\": \"17:08:46\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:00:42\", \"horaFim\": \"17:01:39\", \"status\": \"ATIVO\", \"tempoSegundos\": 57, \"tempo\": \"0 min 57 seg\", \"descricao\": \"Ficou ATIVO por 0 min 57 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:00:41\", \"horaFim\": \"17:00:42\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"17:00:30\", \"horaFim\": \"17:00:41\", \"status\": \"ATIVO\", \"tempoSegundos\": 11, \"tempo\": \"0 min 11 seg\", \"descricao\": \"Ficou ATIVO por 0 min 11 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:59:33\", \"horaFim\": \"17:00:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 56, \"tempo\": \"0 min 56 seg\", \"descricao\": \"Ficou INATIVO por 0 min 56 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:59:32\", \"horaFim\": \"16:59:33\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:59:25\", \"horaFim\": \"16:59:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou INATIVO por 0 min 7 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:21:47\", \"horaFim\": \"16:25:49\", \"status\": \"ATIVO\", \"tempoSegundos\": 241, \"tempo\": \"4 min 1 seg\", \"descricao\": \"Ficou ATIVO por 4 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:19:03\", \"horaFim\": \"16:19:26\", \"status\": \"INATIVO\", \"tempoSegundos\": 22, \"tempo\": \"0 min 22 seg\", \"descricao\": \"Ficou INATIVO por 0 min 22 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:14:56\", \"horaFim\": \"16:19:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 247, \"tempo\": \"4 min 7 seg\", \"descricao\": \"Ficou ATIVO por 4 min 7 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:12:02\", \"horaFim\": \"16:13:22\", \"status\": \"INATIVO\", \"tempoSegundos\": 80, \"tempo\": \"1 min 20 seg\", \"descricao\": \"Ficou INATIVO por 1 min 20 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:11:42\", \"horaFim\": \"16:12:02\", \"status\": \"ATIVO\", \"tempoSegundos\": 20, \"tempo\": \"0 min 20 seg\", \"descricao\": \"Ficou ATIVO por 0 min 20 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:03:00\", \"horaFim\": \"16:03:19\", \"status\": \"INATIVO\", \"tempoSegundos\": 18, \"tempo\": \"0 min 18 seg\", \"descricao\": \"Ficou INATIVO por 0 min 18 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:01:49\", \"horaFim\": \"16:03:00\", \"status\": \"INATIVO\", \"tempoSegundos\": 71, \"tempo\": \"1 min 11 seg\", \"descricao\": \"Ficou INATIVO por 1 min 11 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"16:00:49\", \"horaFim\": \"16:01:49\", \"status\": \"ATIVO\", \"tempoSegundos\": 60, \"tempo\": \"1 min 0 seg\", \"descricao\": \"Ficou ATIVO por 1 min 0 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:57:54\", \"horaFim\": \"16:00:49\", \"status\": \"INATIVO\", \"tempoSegundos\": 175, \"tempo\": \"2 min 55 seg\", \"descricao\": \"Ficou INATIVO por 2 min 55 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:56:19\", \"horaFim\": \"15:57:54\", \"status\": \"ATIVO\", \"tempoSegundos\": 95, \"tempo\": \"1 min 35 seg\", \"descricao\": \"Ficou ATIVO por 1 min 35 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:55:19\", \"horaFim\": \"15:56:19\", \"status\": \"INATIVO\", \"tempoSegundos\": 60, \"tempo\": \"1 min 0 seg\", \"descricao\": \"Ficou INATIVO por 1 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:55:09\", \"horaFim\": \"15:55:19\", \"status\": \"ATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou ATIVO por 0 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:55:03\", \"horaFim\": \"15:55:09\", \"status\": \"INATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou INATIVO por 0 min 5 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:54:59\", \"horaFim\": \"15:55:03\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:54:28\", \"horaFim\": \"15:54:59\", \"status\": \"INATIVO\", \"tempoSegundos\": 31, \"tempo\": \"0 min 31 seg\", \"descricao\": \"Ficou INATIVO por 0 min 31 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:54:19\", \"horaFim\": \"15:54:28\", \"status\": \"INATIVO\", \"tempoSegundos\": 9, \"tempo\": \"0 min 9 seg\", \"descricao\": \"Ficou INATIVO por 0 min 9 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:54:18\", \"horaFim\": \"15:54:19\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:54:09\", \"horaFim\": \"15:54:18\", \"status\": \"INATIVO\", \"tempoSegundos\": 8, \"tempo\": \"0 min 8 seg\", \"descricao\": \"Ficou INATIVO por 0 min 8 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:52:08\", \"horaFim\": \"15:54:09\", \"status\": \"INATIVO\", \"tempoSegundos\": 121, \"tempo\": \"2 min 1 seg\", \"descricao\": \"Ficou INATIVO por 2 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:51:58\", \"horaFim\": \"15:52:08\", \"status\": \"ATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou ATIVO por 0 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:45:52\", \"horaFim\": \"15:51:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 366, \"tempo\": \"6 min 6 seg\", \"descricao\": \"Ficou INATIVO por 6 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:43:29\", \"horaFim\": \"15:45:52\", \"status\": \"INATIVO\", \"tempoSegundos\": 142, \"tempo\": \"2 min 22 seg\", \"descricao\": \"Ficou INATIVO por 2 min 22 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:42:05\", \"horaFim\": \"15:42:46\", \"status\": \"INATIVO\", \"tempoSegundos\": 41, \"tempo\": \"0 min 41 seg\", \"descricao\": \"Ficou INATIVO por 0 min 41 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:42:00\", \"horaFim\": \"15:42:05\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:30\", \"horaFim\": \"15:42:00\", \"status\": \"INATIVO\", \"tempoSegundos\": 90, \"tempo\": \"1 min 30 seg\", \"descricao\": \"Ficou INATIVO por 1 min 30 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:25\", \"horaFim\": \"15:40:30\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:10\", \"horaFim\": \"15:40:25\", \"status\": \"INATIVO\", \"tempoSegundos\": 14, \"tempo\": \"0 min 14 seg\", \"descricao\": \"Ficou INATIVO por 0 min 14 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:05\", \"horaFim\": \"15:40:10\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:05\", \"horaFim\": \"15:40:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:40:03\", \"horaFim\": \"15:40:05\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:39:25\", \"horaFim\": \"15:40:03\", \"status\": \"INATIVO\", \"tempoSegundos\": 38, \"tempo\": \"0 min 38 seg\", \"descricao\": \"Ficou INATIVO por 0 min 38 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:38:44\", \"horaFim\": \"15:39:25\", \"status\": \"INATIVO\", \"tempoSegundos\": 40, \"tempo\": \"0 min 40 seg\", \"descricao\": \"Ficou INATIVO por 0 min 40 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:38:14\", \"horaFim\": \"15:38:44\", \"status\": \"ATIVO\", \"tempoSegundos\": 30, \"tempo\": \"0 min 30 seg\", \"descricao\": \"Ficou ATIVO por 0 min 30 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:38:09\", \"horaFim\": \"15:38:14\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:37:34\", \"horaFim\": \"15:38:09\", \"status\": \"ATIVO\", \"tempoSegundos\": 35, \"tempo\": \"0 min 35 seg\", \"descricao\": \"Ficou ATIVO por 0 min 35 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:37:14\", \"horaFim\": \"15:37:34\", \"status\": \"INATIVO\", \"tempoSegundos\": 20, \"tempo\": \"0 min 20 seg\", \"descricao\": \"Ficou INATIVO por 0 min 20 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:37:09\", \"horaFim\": \"15:37:14\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:37:04\", \"horaFim\": \"15:37:09\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:37:00\", \"horaFim\": \"15:37:04\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:34:44\", \"horaFim\": \"15:37:00\", \"status\": \"INATIVO\", \"tempoSegundos\": 136, \"tempo\": \"2 min 16 seg\", \"descricao\": \"Ficou INATIVO por 2 min 16 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:34:39\", \"horaFim\": \"15:34:44\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:20:13\", \"horaFim\": \"15:34:39\", \"status\": \"INATIVO\", \"tempoSegundos\": 866, \"tempo\": \"14 min 26 seg\", \"descricao\": \"Ficou INATIVO por 14 min 26 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:20:08\", \"horaFim\": \"15:20:13\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:20:03\", \"horaFim\": \"15:20:08\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:19:53\", \"horaFim\": \"15:20:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou ATIVO por 0 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"15:19:43\", \"horaFim\": \"15:19:53\", \"status\": \"INATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou INATIVO por 0 min 10 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:59:37\", \"horaFim\": \"14:59:41\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:53:55\", \"horaFim\": \"14:59:37\", \"status\": \"INATIVO\", \"tempoSegundos\": 341, \"tempo\": \"5 min 41 seg\", \"descricao\": \"Ficou INATIVO por 5 min 41 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:49\", \"horaFim\": \"14:52:53\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:48\", \"horaFim\": \"14:52:49\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:47\", \"horaFim\": \"14:52:48\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:46\", \"horaFim\": \"14:52:47\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:45\", \"horaFim\": \"14:52:46\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:44\", \"horaFim\": \"14:52:45\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:43\", \"horaFim\": \"14:52:44\", \"status\": \"ATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou ATIVO por 0 min 0 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:42\", \"horaFim\": \"14:52:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:39\", \"horaFim\": \"14:52:42\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:38\", \"horaFim\": \"14:52:39\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:37\", \"horaFim\": \"14:52:38\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:35\", \"horaFim\": \"14:52:37\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:34\", \"horaFim\": \"14:52:35\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:33\", \"horaFim\": \"14:52:34\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:52:24\", \"horaFim\": \"14:52:33\", \"status\": \"ATIVO\", \"tempoSegundos\": 9, \"tempo\": \"0 min 9 seg\", \"descricao\": \"Ficou ATIVO por 0 min 9 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:51:14\", \"horaFim\": \"14:52:24\", \"status\": \"INATIVO\", \"tempoSegundos\": 69, \"tempo\": \"1 min 9 seg\", \"descricao\": \"Ficou INATIVO por 1 min 9 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:48:41\", \"horaFim\": \"14:48:51\", \"status\": \"ATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou ATIVO por 0 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:46:51\", \"horaFim\": \"14:48:41\", \"status\": \"INATIVO\", \"tempoSegundos\": 110, \"tempo\": \"1 min 50 seg\", \"descricao\": \"Ficou INATIVO por 1 min 50 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:46:46\", \"horaFim\": \"14:46:51\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:46:36\", \"horaFim\": \"14:46:46\", \"status\": \"INATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou INATIVO por 0 min 10 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:46:11\", \"horaFim\": \"14:46:12\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:45:11\", \"horaFim\": \"14:46:11\", \"status\": \"INATIVO\", \"tempoSegundos\": 59, \"tempo\": \"0 min 59 seg\", \"descricao\": \"Ficou INATIVO por 0 min 59 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:45:06\", \"horaFim\": \"14:45:11\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:45:04\", \"horaFim\": \"14:45:06\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:44:55\", \"horaFim\": \"14:45:04\", \"status\": \"ATIVO\", \"tempoSegundos\": 9, \"tempo\": \"0 min 9 seg\", \"descricao\": \"Ficou ATIVO por 0 min 9 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:44:54\", \"horaFim\": \"14:44:55\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:43:11\", \"horaFim\": \"14:44:54\", \"status\": \"ATIVO\", \"tempoSegundos\": 102, \"tempo\": \"1 min 42 seg\", \"descricao\": \"Ficou ATIVO por 1 min 42 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:43:02\", \"horaFim\": \"14:43:11\", \"status\": \"INATIVO\", \"tempoSegundos\": 8, \"tempo\": \"0 min 8 seg\", \"descricao\": \"Ficou INATIVO por 0 min 8 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:42:56\", \"horaFim\": \"14:43:02\", \"status\": \"ATIVO\", \"tempoSegundos\": 5, \"tempo\": \"0 min 5 seg\", \"descricao\": \"Ficou ATIVO por 0 min 5 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:35\", \"horaFim\": \"14:40:40\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:32\", \"horaFim\": \"14:40:35\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:30\", \"horaFim\": \"14:40:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:27\", \"horaFim\": \"14:40:30\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:26\", \"horaFim\": \"14:40:27\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:25\", \"horaFim\": \"14:40:26\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:24\", \"horaFim\": \"14:40:25\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:40:20\", \"horaFim\": \"14:40:24\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:39:26\", \"horaFim\": \"14:39:27\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:30\", \"horaFim\": \"14:39:26\", \"status\": \"ATIVO\", \"tempoSegundos\": 56, \"tempo\": \"0 min 56 seg\", \"descricao\": \"Ficou ATIVO por 0 min 56 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:29\", \"horaFim\": \"14:38:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:28\", \"horaFim\": \"14:38:29\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:26\", \"horaFim\": \"14:38:28\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:24\", \"horaFim\": \"14:38:26\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:22\", \"horaFim\": \"14:38:24\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:12\", \"horaFim\": \"14:38:22\", \"status\": \"ATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou ATIVO por 0 min 10 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:38:01\", \"horaFim\": \"14:38:12\", \"status\": \"INATIVO\", \"tempoSegundos\": 11, \"tempo\": \"0 min 11 seg\", \"descricao\": \"Ficou INATIVO por 0 min 11 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:37:32\", \"horaFim\": \"14:38:01\", \"status\": \"ATIVO\", \"tempoSegundos\": 28, \"tempo\": \"0 min 28 seg\", \"descricao\": \"Ficou ATIVO por 0 min 28 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:37:31\", \"horaFim\": \"14:37:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:37:30\", \"horaFim\": \"14:37:31\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:37:25\", \"horaFim\": \"14:37:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:37:21\", \"horaFim\": \"14:37:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:36:51\", \"horaFim\": \"14:37:21\", \"status\": \"INATIVO\", \"tempoSegundos\": 30, \"tempo\": \"0 min 30 seg\", \"descricao\": \"Ficou INATIVO por 0 min 30 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:35:36\", \"horaFim\": \"14:36:51\", \"status\": \"ATIVO\", \"tempoSegundos\": 74, \"tempo\": \"1 min 14 seg\", \"descricao\": \"Ficou ATIVO por 1 min 14 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:35:33\", \"horaFim\": \"14:35:36\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:35:32\", \"horaFim\": \"14:35:33\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:35:04\", \"horaFim\": \"14:35:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 27, \"tempo\": \"0 min 27 seg\", \"descricao\": \"Ficou INATIVO por 0 min 27 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:58\", \"horaFim\": \"14:35:04\", \"status\": \"ATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou ATIVO por 0 min 6 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:57\", \"horaFim\": \"14:34:58\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:56\", \"horaFim\": \"14:34:57\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:45\", \"horaFim\": \"14:34:56\", \"status\": \"INATIVO\", \"tempoSegundos\": 11, \"tempo\": \"0 min 11 seg\", \"descricao\": \"Ficou INATIVO por 0 min 11 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:37\", \"horaFim\": \"14:34:45\", \"status\": \"ATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou ATIVO por 0 min 7 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:25\", \"horaFim\": \"14:34:37\", \"status\": \"INATIVO\", \"tempoSegundos\": 12, \"tempo\": \"0 min 12 seg\", \"descricao\": \"Ficou INATIVO por 0 min 12 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:24\", \"horaFim\": \"14:34:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:20\", \"horaFim\": \"14:34:24\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:15\", \"horaFim\": \"14:34:20\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:13\", \"horaFim\": \"14:34:15\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:11\", \"horaFim\": \"14:34:13\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:09\", \"horaFim\": \"14:34:11\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:07\", \"horaFim\": \"14:34:09\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:06\", \"horaFim\": \"14:34:07\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:34:01\", \"horaFim\": \"14:34:06\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:51\", \"horaFim\": \"14:34:01\", \"status\": \"INATIVO\", \"tempoSegundos\": 10, \"tempo\": \"0 min 10 seg\", \"descricao\": \"Ficou INATIVO por 0 min 10 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:49\", \"horaFim\": \"14:33:51\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:45\", \"horaFim\": \"14:33:49\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:44\", \"horaFim\": \"14:33:45\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:44\", \"horaFim\": \"14:33:44\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:43\", \"horaFim\": \"14:33:44\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:37\", \"horaFim\": \"14:33:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 6, \"tempo\": \"0 min 6 seg\", \"descricao\": \"Ficou INATIVO por 0 min 6 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:36\", \"horaFim\": \"14:33:37\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:36\", \"horaFim\": \"14:33:36\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:35\", \"horaFim\": \"14:33:36\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:35\", \"horaFim\": \"14:33:35\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:34\", \"horaFim\": \"14:33:35\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:34\", \"horaFim\": \"14:33:34\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:33\", \"horaFim\": \"14:33:34\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:33\", \"horaFim\": \"14:33:33\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:32\", \"horaFim\": \"14:33:33\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:32\", \"horaFim\": \"14:33:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:31\", \"horaFim\": \"14:33:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:33:31\", \"horaFim\": \"14:33:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:27:43\", \"horaFim\": \"14:33:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 347, \"tempo\": \"5 min 47 seg\", \"descricao\": \"Ficou INATIVO por 5 min 47 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:27:42\", \"horaFim\": \"14:27:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:57\", \"horaFim\": \"14:27:42\", \"status\": \"INATIVO\", \"tempoSegundos\": 44, \"tempo\": \"0 min 44 seg\", \"descricao\": \"Ficou INATIVO por 0 min 44 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:57\", \"horaFim\": \"14:26:57\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:56\", \"horaFim\": \"14:26:57\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:45\", \"horaFim\": \"14:26:56\", \"status\": \"INATIVO\", \"tempoSegundos\": 11, \"tempo\": \"0 min 11 seg\", \"descricao\": \"Ficou INATIVO por 0 min 11 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:43\", \"horaFim\": \"14:26:45\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:39\", \"horaFim\": \"14:26:43\", \"status\": \"INATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou INATIVO por 0 min 3 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:35\", \"horaFim\": \"14:26:39\", \"status\": \"INATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou INATIVO por 0 min 4 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:33\", \"horaFim\": \"14:26:35\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:32\", \"horaFim\": \"14:26:33\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:32\", \"horaFim\": \"14:26:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:31\", \"horaFim\": \"14:26:32\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:31\", \"horaFim\": \"14:26:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:30\", \"horaFim\": \"14:26:31\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:30\", \"horaFim\": \"14:26:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:26:29\", \"horaFim\": \"14:26:30\", \"status\": \"INATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou INATIVO por 0 min 0 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:25:45\", \"horaFim\": \"14:26:29\", \"status\": \"INATIVO\", \"tempoSegundos\": 43, \"tempo\": \"0 min 43 seg\", \"descricao\": \"Ficou INATIVO por 0 min 43 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:28\", \"horaFim\": \"14:25:45\", \"status\": \"INATIVO\", \"tempoSegundos\": 1516, \"tempo\": \"25 min 16 seg\", \"descricao\": \"Ficou INATIVO por 25 min 16 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:26\", \"horaFim\": \"14:00:28\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:25\", \"horaFim\": \"14:00:26\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:22\", \"horaFim\": \"14:00:25\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:15\", \"horaFim\": \"14:00:22\", \"status\": \"INATIVO\", \"tempoSegundos\": 7, \"tempo\": \"0 min 7 seg\", \"descricao\": \"Ficou INATIVO por 0 min 7 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:14\", \"horaFim\": \"14:00:15\", \"status\": \"ATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou ATIVO por 0 min 1 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:11\", \"horaFim\": \"14:00:14\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:07\", \"horaFim\": \"14:00:11\", \"status\": \"ATIVO\", \"tempoSegundos\": 4, \"tempo\": \"0 min 4 seg\", \"descricao\": \"Ficou ATIVO por 0 min 4 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:06\", \"horaFim\": \"14:00:07\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:05\", \"horaFim\": \"14:00:06\", \"status\": \"ATIVO\", \"tempoSegundos\": 0, \"tempo\": \"0 min 0 seg\", \"descricao\": \"Ficou ATIVO por 0 min 0 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:03\", \"horaFim\": \"14:00:05\", \"status\": \"INATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou INATIVO por 0 min 2 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"14:00:00\", \"horaFim\": \"14:00:03\", \"status\": \"ATIVO\", \"tempoSegundos\": 3, \"tempo\": \"0 min 3 seg\", \"descricao\": \"Ficou ATIVO por 0 min 3 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"13:59:59\", \"horaFim\": \"14:00:00\", \"status\": \"INATIVO\", \"tempoSegundos\": 1, \"tempo\": \"0 min 1 seg\", \"descricao\": \"Ficou INATIVO por 0 min 1 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"13:59:57\", \"horaFim\": \"13:59:59\", \"status\": \"ATIVO\", \"tempoSegundos\": 2, \"tempo\": \"0 min 2 seg\", \"descricao\": \"Ficou ATIVO por 0 min 2 seg\", \"valor\": 1, \"alarme\": \"✅ CAPACETE EM USO\"}, {\"funcionario\": \"Débora da Silva Costa\", \"epi\": \"Capacete 01\", \"data\": \"27/06/2026\", \"horaInicio\": \"13:59:40\", \"horaFim\": \"13:59:56\", \"status\": \"INATIVO\", \"tempoSegundos\": 16, \"tempo\": \"0 min 16 seg\", \"descricao\": \"Ficou INATIVO por 0 min 16 seg\", \"valor\": 0, \"alarme\": \"⚠ SEM CAPACETE\"}];\n\nflow.set(\"historicoCapacete\", historico);\n\nlet ultimo = historico[0] || {\n    funcionario: \"Débora da Silva Costa\",\n    epi: \"Capacete 01\",\n    data: \"-\",\n    horaInicio: \"-\",\n    horaFim: \"-\",\n    status: \"SEM DADOS\",\n    tempoSegundos: 0,\n    tempo: \"0 min 0 seg\",\n    descricao: \"Aguardando leitura\",\n    valor: 0,\n    alarme: \"Aguardando leitura\"\n};\n\nmsg.payload = {\n    ultimo: ultimo,\n    resumo: resumo(historico),\n    historico: historico\n};\n\nreturn msg;\n\nfunction resumo(h) {\n    let ativo = 0;\n    let inativo = 0;\n    let alertas = 0;\n\n    for (let r of h) {\n        let t = Number(r.tempoSegundos || 0);\n        if (r.status === \"ATIVO\") ativo += t;\n        if (r.status === \"INATIVO\") {\n            inativo += t;\n            alertas++;\n        }\n    }\n\n    let total = ativo + inativo;\n    let conformidade = total > 0 ? Math.round((ativo / total) * 100) : 0;\n\n    return {\n        tempoAtivo: formatar(ativo),\n        tempoInativo: formatar(inativo),\n        conformidade: conformidade,\n        totalEventos: h.length,\n        totalAlertas: alertas\n    };\n}\n\nfunction formatar(s) {\n    let h = Math.floor(s / 3600);\n    let m = Math.floor((s % 3600) / 60);\n    let sec = s % 60;\n    if (h > 0) return h + \"h \" + m + \"min\";\n    return m + \" min \" + sec + \" seg\";\n}\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 260,
    "wires": [
      [
        "ui_template_sistema_comercial",
        "debug_sistema_comercial"
      ]
    ]
  },
  {
    "id": "ui_template_sistema_comercial",
    "type": "ui-template",
    "z": "tab_sistema_comercial",
    "group": "ui_group_sistema_comercial",
    "page": "",
    "ui": "",
    "name": "SISTEMA PROFISSIONAL COMPLETO",
    "order": 1,
    "width": 12,
    "height": 18,
    "head": "",
    "format": "\n<template>\n  <div class=\"dash\">\n    <div class=\"topbar\">\n      <div>\n        <div class=\"system-title\">CAPACETE INTELIGENTE</div>\n        <div class=\"system-subtitle\">Monitoramento online de uso de EPI em tempo real</div>\n      </div>\n      <div class=\"badge-online\">● ONLINE</div>\n    </div>\n\n    <section class=\"hero\" :class=\"ultimo.status === 'ATIVO' ? 'hero-ok' : 'hero-bad'\">\n      <div class=\"hero-icon\">{{ ultimo.status === 'ATIVO' ? '✅' : '🚨' }}</div>\n      <div class=\"hero-text\">\n        <div class=\"hero-title\">{{ ultimo.status === 'ATIVO' ? 'CAPACETE EM USO' : 'SEM CAPACETE' }}</div>\n        <div class=\"hero-desc\">{{ ultimo.descricao || 'Aguardando nova leitura do sensor...' }}</div>\n        <div class=\"hero-info\">\n          👷 {{ ultimo.funcionario || '-' }} &nbsp;&nbsp;|&nbsp;&nbsp;\n          🪖 {{ ultimo.epi || '-' }} &nbsp;&nbsp;|&nbsp;&nbsp;\n          🕒 {{ ultimo.data || '-' }} {{ ultimo.horaFim || '-' }}\n        </div>\n      </div>\n    </section>\n\n    <section class=\"cards\">\n      <div class=\"card\">\n        <div class=\"card-label\">Tempo ativo total</div>\n        <div class=\"card-value ok\">{{ resumo.tempoAtivo }}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-label\">Tempo inativo total</div>\n        <div class=\"card-value bad\">{{ resumo.tempoInativo }}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-label\">Conformidade</div>\n        <div class=\"card-value\">{{ resumo.conformidade }}%</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-label\">Eventos registrados</div>\n        <div class=\"card-value\">{{ resumo.totalEventos }}</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-label\">Alertas sem capacete</div>\n        <div class=\"card-value bad\">{{ resumo.totalAlertas }}</div>\n      </div>\n    </section>\n\n    <section class=\"panel\">\n      <div class=\"panel-title\">📊 Indicadores de conformidade</div>\n      <div class=\"bar-line\">\n        <span>ATIVO</span>\n        <div class=\"bar\"><div class=\"bar-fill ok-fill\" :style=\"{width: resumo.conformidade + '%'}\"></div></div>\n        <b>{{ resumo.conformidade }}%</b>\n      </div>\n      <div class=\"bar-line\">\n        <span>INATIVO</span>\n        <div class=\"bar\"><div class=\"bar-fill bad-fill\" :style=\"{width: (100 - resumo.conformidade) + '%'}\"></div></div>\n        <b>{{ 100 - resumo.conformidade }}%</b>\n      </div>\n    </section>\n\n    <section class=\"panel\">\n      <div class=\"panel-header\">\n        <div>\n          <div class=\"panel-title\">📋 Histórico completo de detecções</div>\n          <div class=\"panel-subtitle\">\n            Registros anteriores do arquivo enviado + novas leituras em tempo real.\n          </div>\n        </div>\n        <input class=\"search\" v-model=\"busca\" placeholder=\"Pesquisar status, hora, descrição...\" />\n      </div>\n\n      <div class=\"table-wrap\">\n        <table>\n          <thead>\n            <tr>\n              <th>Data</th>\n              <th>Hora início</th>\n              <th>Hora fim</th>\n              <th>Funcionário</th>\n              <th>EPI</th>\n              <th>Status</th>\n              <th>Tempo</th>\n              <th>Descrição</th>\n            </tr>\n          </thead>\n          <tbody>\n            <tr v-for=\"(r, i) in filtrado\" :key=\"i\">\n              <td>{{ r.data }}</td>\n              <td>{{ r.horaInicio }}</td>\n              <td>{{ r.horaFim }}</td>\n              <td>{{ r.funcionario }}</td>\n              <td>{{ r.epi }}</td>\n              <td>\n                <span class=\"pill\" :class=\"r.status === 'ATIVO' ? 'pill-ok' : 'pill-bad'\">\n                  {{ r.status }}\n                </span>\n              </td>\n              <td>{{ r.tempo }}</td>\n              <td>{{ r.descricao }}</td>\n            </tr>\n          </tbody>\n        </table>\n      </div>\n    </section>\n  </div>\n</template>\n\n<script>\nexport default {\n  data () {\n    return { busca: \"\" }\n  },\n  computed: {\n    dados () {\n      return this.msg?.payload || {}\n    },\n    ultimo () {\n      return this.dados.ultimo || {}\n    },\n    resumo () {\n      return this.dados.resumo || {\n        tempoAtivo: \"0 min\",\n        tempoInativo: \"0 min\",\n        conformidade: 0,\n        totalEventos: 0,\n        totalAlertas: 0\n      }\n    },\n    historico () {\n      return this.dados.historico || []\n    },\n    filtrado () {\n      const q = this.busca.toLowerCase().trim()\n      if (!q) return this.historico\n      return this.historico.filter(r => JSON.stringify(r).toLowerCase().includes(q))\n    }\n  }\n}\n</script>\n\n<style>\n.dash {\n  font-family: Arial, sans-serif;\n  color: #0f172a;\n  width: 100%;\n}\n.topbar {\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  background: #0f172a;\n  color: #fff;\n  border-radius: 18px;\n  padding: 20px 24px;\n  margin-bottom: 16px;\n}\n.system-title {\n  font-size: 26px;\n  font-weight: 900;\n  letter-spacing: .8px;\n}\n.system-subtitle {\n  font-size: 14px;\n  color: #cbd5e1;\n  margin-top: 4px;\n}\n.badge-online {\n  background: #064e3b;\n  color: #86efac;\n  border: 1px solid #22c55e;\n  border-radius: 999px;\n  padding: 8px 14px;\n  font-weight: 800;\n}\n.hero {\n  display: flex;\n  gap: 22px;\n  align-items: center;\n  border-radius: 24px;\n  padding: 28px;\n  color: #fff;\n  box-shadow: 0 14px 34px rgba(0,0,0,.24);\n  margin-bottom: 16px;\n}\n.hero-ok {\n  background: linear-gradient(135deg, #047857, #22c55e);\n}\n.hero-bad {\n  background: linear-gradient(135deg, #991b1b, #ef4444);\n  animation: pulse 1s infinite;\n}\n.hero-icon {\n  font-size: 70px;\n  line-height: 1;\n}\n.hero-title {\n  font-size: 34px;\n  font-weight: 900;\n}\n.hero-desc {\n  font-size: 18px;\n  margin-top: 8px;\n}\n.hero-info {\n  font-size: 15px;\n  margin-top: 12px;\n  opacity: .95;\n}\n.cards {\n  display: grid;\n  grid-template-columns: repeat(5, minmax(130px, 1fr));\n  gap: 14px;\n  margin-bottom: 16px;\n}\n.card {\n  background: #fff;\n  border: 1px solid #e5e7eb;\n  border-radius: 18px;\n  padding: 18px;\n  box-shadow: 0 6px 18px rgba(15,23,42,.08);\n}\n.card-label {\n  font-size: 12px;\n  color: #64748b;\n  text-transform: uppercase;\n  font-weight: 800;\n}\n.card-value {\n  font-size: 24px;\n  font-weight: 900;\n  margin-top: 8px;\n}\n.ok { color: #15803d; }\n.bad { color: #b91c1c; }\n\n.panel {\n  background: #fff;\n  border: 1px solid #e5e7eb;\n  border-radius: 18px;\n  padding: 18px;\n  margin-bottom: 16px;\n  box-shadow: 0 6px 18px rgba(15,23,42,.08);\n}\n.panel-title {\n  font-size: 20px;\n  font-weight: 900;\n}\n.panel-subtitle {\n  color: #64748b;\n  font-size: 13px;\n  margin-top: 5px;\n}\n.panel-header {\n  display: flex;\n  justify-content: space-between;\n  gap: 12px;\n  align-items: center;\n  margin-bottom: 14px;\n}\n.search {\n  border: 1px solid #cbd5e1;\n  border-radius: 12px;\n  padding: 10px 12px;\n  min-width: 260px;\n}\n.bar-line {\n  display: grid;\n  grid-template-columns: 90px 1fr 60px;\n  gap: 12px;\n  align-items: center;\n  margin-top: 12px;\n}\n.bar {\n  height: 22px;\n  background: #e5e7eb;\n  border-radius: 999px;\n  overflow: hidden;\n}\n.bar-fill {\n  height: 100%;\n}\n.ok-fill { background: #22c55e; }\n.bad-fill { background: #ef4444; }\n\n.table-wrap {\n  max-height: 540px;\n  overflow: auto;\n  border: 1px solid #e5e7eb;\n  border-radius: 14px;\n}\ntable {\n  width: 100%;\n  border-collapse: collapse;\n  font-size: 13px;\n}\nth {\n  position: sticky;\n  top: 0;\n  background: #0f766e;\n  color: white;\n  text-align: left;\n  padding: 10px;\n}\ntd {\n  padding: 9px 10px;\n  border-bottom: 1px solid #e5e7eb;\n}\ntr:nth-child(even) {\n  background: #f8fafc;\n}\n.pill {\n  border-radius: 999px;\n  padding: 4px 9px;\n  font-size: 12px;\n  font-weight: 900;\n}\n.pill-ok {\n  background: #dcfce7;\n  color: #166534;\n}\n.pill-bad {\n  background: #fee2e2;\n  color: #991b1b;\n}\n@keyframes pulse {\n  0% { opacity: 1; transform: scale(1); }\n  50% { opacity: .75; transform: scale(1.01); }\n  100% { opacity: 1; transform: scale(1); }\n}\n@media(max-width: 900px) {\n  .topbar, .panel-header, .hero {\n    flex-direction: column;\n    align-items: flex-start;\n  }\n  .cards {\n    grid-template-columns: 1fr;\n  }\n  .bar-line {\n    grid-template-columns: 1fr;\n  }\n  .search {\n    min-width: 100%;\n  }\n}\n</style>\n",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 760,
    "y": 210,
    "wires": [
      []
    ]
  },
  {
    "id": "file_save_sistema_comercial",
    "type": "file",
    "z": "tab_sistema_comercial",
    "name": "Salvar novas detecções",
    "filename": "/data/historico_organizado.csv",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 740,
    "y": 130,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_sistema_comercial",
    "type": "debug",
    "z": "tab_sistema_comercial",
    "name": "Dados do painel",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 290,
    "wires": []
  },
  {
    "id": "mqtt_sistema_comercial",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud Capacete",
    "broker": "14acbc646e274caaaf10971e5b3b335e.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "tls_sistema_comercial",
    "clientid": "flowfuse-capacete-sistema-comercial",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "esp32",
      "password": "Capacete2026@"
    }
  },
  {
    "id": "ui_group_sistema_comercial",
    "type": "ui-group",
    "name": "Painel profissional completo",
    "page": "ui_page_sistema_comercial",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "tls_sistema_comercial",
    "type": "tls-config",
    "name": "TLS HiveMQ",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  },
  {
    "id": "ui_page_sistema_comercial",
    "type": "ui-page",
    "name": "Sistema Comercial",
    "ui": "ebd4008dd1576ddf",
    "path": "/sistema-capacete",
    "icon": "shield",
    "layout": "grid",
    "theme": "ui_theme_sistema_comercial",
    "order": 2,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ebd4008dd1576ddf",
    "type": "ui-base",
    "name": "My Dashboard",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "default",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 1,
    "showDisconnectNotification": true,
    "allowInstall": false
  },
  {
    "id": "ui_theme_sistema_comercial",
    "type": "ui-theme",
    "name": "Tema Sistema Comercial",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0f766e",
      "bgPage": "#f3f4f6",
      "groupBg": "#ffffff",
      "groupOutline": "#d1d5db"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "14px",
      "groupGap": "14px",
      "groupBorderRadius": "10px",
      "widgetGap": "14px"
    }
  },
  {
    "id": "656d906203343119",
    "type": "global-config",
    "env": [],
    "modules": {
      "@flowfuse/node-red-dashboard": "1.30.2"
    }
  }
]